.input-range__slider
  background #60c9c6!important
  border 1px solid #60c9c6!important
.input-range__track--active
  background #60c9c6!important
.ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled
  opacity 2.45
.ui.table td.active, .ui.table tr.active
  background rgba(148,222,220,0.64)!important
