@require('../vars.styl')


html
  background #fff
  height 100%

body
  font-size 16px
  font-weight 300
  font-family 'Myriad Set', 'Lucida Grande', 'Lucida Sans Unicode', 'Helvetica Neue', Helvetica, Arial, sans-serif
  color $font-color
  line-height 1.333333
  height 100%
  margin 0

.center
  text-align center

main
  padding 1.5em 1.5em 0em 1.5em

.dark-primary-color
  background #0097A7
.default-primary-color
  background #00BCD4
.light-primary-color
   background #B2EBF2
.text-primary-color
   color #FFFFFF
.accent-color
  background #03A9F4
.primary-text-color
   color #212121
.secondary-text-color
  color #757575
.divider-color
  border-color #BDBDBD
._2Uy49
  background #dfdce3!important
._2xPg_
  background #f2711c!important
.ui.progress
  background #dfdce3
.ui.form .fields
  display -webkit-box!important
.ui.button
  background #dfdce3
.ui.inverted.menu
  background-color #60c9c6!important
.ui.primary.button
  background #60c9c6
.ui.primary.button:focus, .ui.primary.buttons .button:focus
  background rgba(148, 222, 220, 0.64)
.ui.primary.button:active, .ui.primary.buttons .button:active
  background rgba(148, 222, 220, 0.64)
.ui.primary.button:hover, .ui.primary.buttons .button:hover
  background rgba(148, 222, 220, 0.64)
